body {
    margin: 0px !important;
    padding: 0px !important;
}

html {
    margin: 0px !important;
    padding: 0px !important;
    background-color: #FAFAFA;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

div#body {
    padding:64px 0 0 0;
}

li#no-indent {
    list-style: none;
    margin-left: -20px;
}

div#header-fixed {
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100%;
}

div#resource-list {
    padding:0px 0px 64px 64px;
}

div#resource-image {
    width: 250px;
    height: 175px;
}

div#group-header {
    height: 200px;
}

div#group-tabs-fixed {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 64px;
    left: 0px;
    width: 100%;
}

div#group-tabs {
}

div#group-contents {
}

div#group-contents-tabs-fixed {
    padding: 48px 0 0 0;
}


div#group-header-image {
    height: 200px;
}
